/**
*css file for Rio Salado College AJS exposure tutorial

*/


body{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    background-color:#291d02;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000;
    margin:0 auto;
}

header#expTutHeader {

    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left:10px;
    margin-right:10px;
}

header#expTutHeader h1 {

    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

#expTutWrapper{

    display:flex;
    flex-flow: column wrap;
    align-items:center;
    /*background-image: url("../imgs/stipple_bg.png");
    background-repeat: repeat;*/
    background-color:#777;
    max-width:600px;
    min-width:200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*buttons*/
#expTutWrapper button{

    width: 100px;
    height: 50px;
    margin: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    color:#222;
}

#expTutWrapper button[disabled], #expTutWrapper button[disabled]:hover, #expTutWrapper button[disabled]:active{

    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

#expTutWrapper button:hover {

    background-color: #fff;
    color:#000;
    /*transition: background-color 0.3s ease;*/
}

#expTutWrapper button:active {

    background-color: #333;
    color:#fff;
}

#expTutWrapper button:focus {

    outline: 2px dotted #222;
}


/*image holder element*/
#sceneSubject{

    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content: center;
    background-color:transparent;
    /*width:98%;*/
    width:100%;
    min-width:140px;
    min-height:140px;
    max-width:570px;
    /*margin-top:5px;*/
    margin-bottom:15px;

    /*scrolling*/
    position:sticky;
    top:2px;
}

#sceneSubject img, #sceneSubject video{

    /*width:98%;*/
    width:100%;
    height:auto;
    border:2px solid #333;
    border-radius:5px;
}
/*end image holder element*/

/*settings holder properties*/
.setting_label{

    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;
    font-size:.95em;
    font-family: Arial, sans-serif;
    font-weight:bold;
    padding-left:5px;
    padding-right:5px;
}

#sceneSettingsHolder{

    background-color:#fff;
    margin-left:15px;
    margin-right:15px;
}

#expTutWrapper button#snapButton{

    margin-left:10px;
    margin-right:10px;
    margin-top:15px;
    margin-bottom:10px;
    width:60%;
}

/*Exposure meter*/
#exposureMeter{

    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    padding-top:10px;
    /*padding-bottom:10px;*/
    /*margin-top:10px;
    margin-bottom:20px;*/
    background-color:#fff;

    position:sticky;
    top:320px;
}

#exposureMeter > .setting_label{

    font-size:1.2em;
}

#currentExposure{

    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:center;
    margin-right:3px;
    margin-left:3px;
    width:50px; /*holds the number steady when it changes*/
}

#exposureSectionsWrapper{

    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    width:100%;
    margin-top: 15px;
    /*margin-bottom: 15px;*/
    background-color:#000;
}

#exposureMeterSections{

    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    width:60%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    background-color:white;
    border-radius:5px;
    margin-right:3px;
    margin-left:3px;
}

#exposureMeterSections div{

    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    width:30%;
    height:29px;
}

.exp_section_active{

    background-color:palegoldenrod;
}

.exp_sectionSetting{

    background-color:gold;
}

.exp_number{

    font-size:1.2em;
    font-weight:bold;
}

#exp_arrowleft{

    padding-left:3px
}

#exp_arrowright{

    padding-right:3px;
}

#exp_0{

    font-size:1.4em;
    font-weight:bold;
}
/*end exposure meter*/

/*radio buttons*/
#isoRadioButtons, #focalLengthsRadioButtons, #shutterSpeedRadioButtons{

    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    /*margin-bottom: 15px;*/
    background-color:tan;
}

.isoRadioBtn, .focalLengthsRadioBtn, .shutterSpeedRadioBtn{

    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#isoControl, #apertureControl, #shutterSpeedControl, #focalControl{

    margin-top:15px;
}

#apertureSettings, #shutterSpeedSettings{

    margin-top:15px;
    /*margin-bottom:15px;*/
    background-color:tan;
}

#apertureSelect, #shutterSpeedSelect{

    width:100px;
    padding:10px;
    border-radius:6px;
    border:5px solid #ccc;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:5px;
}

#apertureSelect option, #shutterSpeedSelect option{

    font-size:1.2em;
    font-weight:bold;
    margin-top:2px;
    margin-bottom:2px;
    height:30px;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}

#apertureSelect option[disabled], shutterSpeedSelect option[disabled]{

    color:#888;
    background-color:#ddd;
}

.isoRadioBtn input[type="radio"], .focalLengthsRadioBtn input[type="radio"], .shutterSpeedRadioBtn input[type="radio"]{

    margin-right:5px;
    height:40px;
}

.isoRadioBtn label, .focalLengthsRadioBtn label, .shutterSpeedRadioBtn label{

    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:center;
    font-size:1.3em;
    font-family: Arial, sans-serif;
    font-weight:bold;
    background-color:transparent;
    width:100px;
    border-radius:5px;
}

.focalLengthsRadioBtn label[data-disabled], .isoRadioBtn label[data-disabled], .shutterSpeedRadioBtn label[data-disabled]{

    color:#888;
}

/*modal*/
#resultModalWrapper{

    display:flex;
    flex-flow:column nowrap;
    /*align-items:center;*/
    justify-content:center;
    background-color:tan;
    position:relative;
    top:-310%;
    width:85%;
    height:80%;
    z-index:1000;
    border-radius:10px;
    border:4px solid #333;
    /*glow*/
    box-shadow: 0 0 15px 15px #222;
}

#resultModalWrapper header{

    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;
    background-color:#777;
    border-bottom:2px solid #333;
    border-radius:4px 4px 0 0;
    margin:0;
    width:100%;
    height:60px;
    color:#fff;
}

#resultModalWrapper h2{

    font-size:1.5em;
    font-weight:bold;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
}

#resultModalWrapper button{

    width:45px;
    height:45px;
    /*margin:5px;
    margin-left:8px;*/
    background-color:#f1f1f1;
    border:1px solid #ccc;
    border-radius:5px;
    cursor:pointer;
    font-size:18px;
    z-index:2;
}

#resultModalWrapper #pdfBtnWrapper{

    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:center;
    margin-top:15px;
    margin-bottom:10px;
}

#resultModalWrapper button#pdfRequestButton{

    width: 60%;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    color: #222;
}

#resultModalWrapper button#pdfRequestButton:hover{

    background-color: #fff;
    color:#000;
    /*transition: background-color 0.3s ease;*/
}

#resultModalWrapper p{

    font-size:1em;
    font-weight:bold;
    /*text-align:center;*/
    margin-top:10px;
    margin-bottom:10px;
}

#resultSettings, #resultExplainer {

    padding:5px;
    font-size:.9em;
    font-weight:bold;
}

#resultSettings{

    display:flex;
    flex-flow:row wrap;
}

#resultSettings div{

    display:flex;
    flex-flow:column nowrap;
    /*align-items:center;*/
    justify-content:center;
    width:47%;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:3%;
}

#expTutCover{

    display:none;
    position:relative;
    background-color:rgba(0,0,0,0.8);
    opacity:.6;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
}

.sr-only{

    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0;
}



